.nav-link, .navbar-brand {
    color: yellow; /* Set the default text color */
    transition: color 0.3s ease; /* Add a smooth transition effect for the color change */
}

.nav-link:hover, .navbar-brand:hover {
    color: orangered; /* Set the color you want when hovering */
}

