.background-container {
    /* Set the background image URL */
    background-image: url('../../background/userregister.jpg');
    /* Set the background image size, repeat, and position as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* Set the container height and other styles as needed */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Additional styles for the form */
.form-signin {
    color: wheat;
    padding: 20px;
    border-radius: 10px; /* Optional: Add rounded corners */
}